<h2>{{ page.header.title }}</h2>
<a class="comments" href="{{ page.header.link }}">33 comments</a>

<a href="{{ page.header.link }}"><img src="{{ page.media['feature.jpg'].url }}" alt="" class="top blog-post-image" /></a>

{{ page.content }}

<footer class="controls">
	<a href="{{ page.header.link }}" class="button">Continue Reading</a>
</footer>
