<ul>
{% for page in pages.children.visible %}
		{% set current_page = (page.active or page.activeChild) ? 'current-page-item' : '' %}
		<li class="{{ current_page }}">
			<a href="{{ page.url }}">
				{% if page.header.icon %}<i class="fa fa-{{ page.header.icon }}"></i>{% endif %}
				{{ page.menu }}
			</a>
			{% if theme_config.dropdown.enabled %}
			<ul class="dropdown">
				{% for childpage in page.children.visible %}
				<li><a href="{{ childpage.url }}">{{ childpage.title }}</a></li>
				{% endfor %}
			</ul>
			{% endif %}
		<li>
{% endfor %}
</ul>